@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');




*{
    box-sizing: border-box;
}

/*  General styling */
body{
    
    font-family: 'Open Sans', sans-serif;
    margin: 0 ;
    font-size: 2.4em;
    background-color: #16171b;
    
}

h1, h2{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 5.3rem;

}

.flex{
    margin-top: 1px;
}


p{
    font-size: 1.2rem;
    color: #9197aa;
    line-height: 1.7;
    margin-top: -20px;
    font-weight: 300;
}
img{
    max-width: 100%;
}
.header img{
    margin-left: 10%;
    width: 100%;
}

.btn{
    border-radius: 3px;
    background-color: #376df9;
    color: white;
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    margin-right: 65px;
}


.btn-primary{
    background-color: #376df9;
    color: #fff;
    border-radius: 2px;
    background-color: #376df9;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    line-height: 22px;
    padding: 12px 31px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .15s;
    white-space: nowrap;;
    border: none;
}
.container{
    padding: 0 20px;
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

.flex {
    display: flex;
}



.flex > div, .flex > ul{
    flex: 1;
}

.align-start{
    align-items: flex-start;
}

header{
     background-image: url(./images/bg-hero-desktop.svg);
     background-size: cover cover;
     background-position: center center;
     
     padding: 40px 0;
}


nav{
    align-items: center;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: 30px;
}

.headline{
    margin-top: 170px;
    font-size: 2.9rem;
}

.text{
    margin-left: 40px;
    
}

ul.social-icons  {
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 120px;
    margin-left: 80px;
    width: 1000px;
  }


.headline-1{
    text-align: center;
    font-size: 2.4rem;
    margin-top: 140px;
}


.subtext{
    text-align: center;
    color: #9da3bb;
    margin-top: -10px;
}


.center {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }

  div.tiles-wrap  {
    -webkit-box-pack: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -32px;
  }


  div.ng.reveal-from-right.is-revealed  {
    box-sizing: content-box;
    flex-basis: 360px;
    max-width: 360px;
    opacity: 1;
    padding: 32px;
    text-align: center;
  }

  div.ng.reveal-from-left.is-revealed  {
    box-sizing: content-box;
    flex-basis: 360px;
    max-width: 360px;
    opacity: 1;
    padding: 32px;
    transform: translate(0);
    transition: opacity 1s cubic-bezier(.39,.575,.565,1) 0s,transform 1s cubic-bezier(.39,.575,.565,1) 0s,-webkit-transform 1s cubic-bezier(.39,.575,.565,1) 0s;
    will-change: opacity,transform;
    text-align: center;  }


    .container-1{
        padding: 0 20px;
        margin: 0 auto;
        width: 850px;
        max-width: 100%;
    }



    .bold{
    box-sizing: border-box;
    clear: both;
    color: #f9faff;
    font-family: "Fira Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -.1px;
    line-height: 34px;
    margin-bottom: 8px;
    margin-top: 0;
    overflow-wrap: break-word;
    }




    .para{
        margin-top: 10px;
    }


    .lead-img{
        margin-top: 50px;
        width: 140px;
    }



    div.ng.reveal-from-bottom.is-revealed  {
        box-sizing: content-box;
        flex-basis: 344px;
        max-width: 344px;
        opacity: 1;
        padding: 12px;
        transform: translate(0);
        transition: opacity 1s cubic-bezier(.39,.575,.565,1), transform 1s cubic-bezier(.39,.575,.565,1), -webkit-transform 1s cubic-bezier(.39,.575,.565,1);
        will-change: opacity,transform;
      }


      div.np  {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        background-color: #292b32;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 20px 24px;
      }

      div.ik.c.ur.on.i_  {
        box-sizing: border-box;
        font-family: "Fira Sans",sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -.1px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 32px;
        padding-top: 20px;
        position: relative;
      }

      .column {
        float: left;
        width: 33%;
        padding: 0 10px;
        align-items: center;
      }
      
      /* Remove extra left and right margins, due to padding */
    
      
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        
        align-items: left;
      }
      
      /* Responsive columns */
      @media screen and (max-width: 768px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
          align-items: center;
        }
      }
      
      /* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    text-align: center;
    background-color: #2d2f36;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
      }


.pink{
     color: pink;
     margin-top: -20px;
     padding-top: 20px;
     padding-right: 300px;

}

.tagline{
    margin-top: 20px;
    text-align: left;
    margin-left: 20px;
    color: #fff;
}


 .link{ 
    background-color: transparent;
    box-sizing: border-box;
    color: #9197aa;
    text-decoration: none;}
    
.app{
    color: #376df9;
    text-decoration: none;
}


.app:hover{
    color: #5d88f3;
    text-decoration: none;
}

.testimonial{
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}


.box {
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    background-image: linear-gradient(100deg,#376df9 0,#ff5fa0 75%,#ffc55a 100%);
    display: flex;
    justify-content: space-around;
    padding: 64px 48px;
    position: relative;
    width: 1150px;
    height: 150px;
    font-size: 1.5rem;
    align-items: center;
            
}



.tagline, .link, .app{
    font-size: 1rem;
}



.contact-email{       
    color: #fff;
    font-size: 2.3rem;
}

.email{
    font-size: 1rem;     
    padding: 10px;
    border: none;
}

.footerbar{
    margin-top: 40px;
    margin-bottom: -30px;
}
.footerbar, .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    
}

.circle{
    padding: 20px;
    font-size: 1.2rem;
    color: #376df9;
   
}

.footer-copyright, .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.nav-links a{
    color: #9197aa;
    text-decoration: none;
    padding: 8px;
}


.footer-copyright{
    color: #9197aa;
}

@media screen and (max-width: 768px) {
    body{
        text-align: center;
    }

    
    .flex{
        flex-direction: column;
    }
    nav.flex {
        flex-direction: row;
    }

    .text{
        margin-top: 80px;
        position: relative;
        right: 18px;
        margin-bottom: -120px;
    }

    .container{
        text-align: center;
        align-items: center;
        
    }

    ul.social-icons{
        display: none;
    }

    p br { 
        content: ' '; 
    }
    .headline-1{
        margin-top: ;
    }
    div.column{
        float: left;
    }
    .pink{
        position: relative;
        right: 190px;
    }

    .box{
        max-width: 100%;

    }

    .tu{
        margin-left: 30px;
    }
    .contact-email{
        font-size: 1.5rem;
    }

   

   

}